* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  /*cor variável*/
  --fasemoon1: linear-gradient(90deg, #FDFDFE 28.65%, rgba(196, 196, 196, 0) 100%);
  --fasemoon2: linear-gradient(90deg, #C4C4C4 1.04%, #FFFFFF 52.08%, #C4C4C4 100%);
  --fasemoon3: linear-gradient(90deg, rgba(196, 196, 196, 0) 0.07%, #FFFFFF 79.76%);
  --soon: linear-gradient(90deg, #32BF84 0%, #BE03FD 100%);
  --gray: hsla(0, 0%, 90%, 1);
  --gray-dark: hsla(203, 11%, 39%, 1);
  --gray-ligth: hsla(0, 0%, 90%, 1);
  --gray-medium: hsla(240, 7%, 78%, 1);
  --purple: hsla(285, 98%, 50%, 1);
  --green: hsla(155, 59%, 47%, 1);
  --white: hsla(240, 33%, 99%, 1);
  --white-gradient: linear-gradient(180deg, #FEFDFE 0%, rgba(253, 253, 254, 0.19) 100%);
  --blue-dark: hsla(237, 100%, 9%, 1);


  height: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--blue-dark);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--blue-dark);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  background-color: var(--gray-medium);
  border-radius: 6px;
}


h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.gray-dark {
  color: var(--gray-dark);
}

.gray-light {
  color: var(--gray-ligth);
}

.blue-dark {
  color: var(--blue-dark);
}

.gray-medium {
  color: var(--gray-medium);
  text-shadow: #58656D 1px 3px 10px;
}

.white {
  color: var(--white);
}

.wrapper {
  margin: 0 10px;
}


/* #########  HEADER  ######### */

header .max-width {
  background-color: var(--purple);
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 8vh;
}

@media screen and (max-width: 1024px) {
  header .max-width {
    padding: 0px 25px;
  }
}

header .max-width img {
  width: 150px;
}

header .max-width .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .max-width .nav-list li {
  margin-left: 57px;
}

header .max-width .nav-list li a {
  color: var(--gray);
  font-size: 1rem;
  position: relative;
}

header .max-width .nav-list li a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  height: 1px;
  bottom: 10px;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(#6610f2), to(#17161d));
  background: linear-gradient(270deg, #FFFFFF 0%, #32BF84 100%);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

header .max-width .nav-list li a:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}

header .max-width .nav-list li a:hover {
  color: var(--white);
}

.nav-title {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  text-shadow: #58656D 1px 3px 10px;
}

.nav-title-key {
  color: var(--blue-dark);
  margin: 0 5px;
  font-weight: 900;
  font-family: 'Poppins';
}

.title-name {
  letter-spacing: 2px;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;

  background: var(--purple);
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.max-width {
  max-width: 1140px !important;
  margin: 0 auto;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul>li>a {
  text-decoration: none;
  color: white;
  padding: 20px;
  margin: 5px;

  letter-spacing: 2px;
  font-weight: 600;
}


/* #########  MAIN  ######### */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-primary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 90vh;
  width: 100%;
}

.gradient h1 {
  background-image: linear-gradient(to right, #FFFFFF, #C4C4C4);
  color: var(--white);
  background-clip: text;
  -webkit-background-clip: text;

  /* Add: */
  -webkit-text-fill-color: transparent;
}

.gradient h1:hover {
  background-image: linear-gradient(to right, #BE03FD, #32BF84);
}

.container-primary--title h1 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 100px;
  letter-spacing: 0.01em;
}

.container-primary--title p {
  font-size: 30px;
}

.container-primary--logo img {
  max-width: 500px;
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.container-background-light {
  width: 100%;
  background-color: var(--purple);
  border-radius: 10px;
}

.container-secondary max-width p {
  font-size: 30px;

}

.container-secondary max-width h1 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 100px;
  letter-spacing: 0.01em;
}

.container-secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}

.container-secondary--informations {
  font-size: 6.25rem;
  font-weight: bold;
  color: #22202D;
  text-shadow: #58656D 0px 2px 20px;
  max-width: 400px;
}

.container-secondary--informations h1 {
  font-family: Fira Sans;
  font-size: 6.25rem;
  color: var(--white);
  margin-left: 3px;
}

.container-secondary--informations p {
  font-size: 30px;
  margin-left: 3px;
}

.container-secondary--aboutme {
  width: 50%;
}

.container-secondary--aboutme h1 {
  font-size: 2.5rem;
  font-family: 'Poppins', bold;
  color: var(--white);
}

.container-secondary--aboutme div>p {
  font-size: 1.25rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
}

.container-tertiary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
  width: 100%;
}

.container-tertiary--title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 20vh;
}

.container-tertiary--title h1 {
  font-size: 2.8rem;
  font-family: 'Poppins';

  color: var(--white);
  font-style: normal;
  font-weight: 600;
  margin-top: 10px;
}

.max-width {
  max-width: 1140px !important;
  margin: 0 auto;
}

.nav-list--projectsLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* circle 1 */
.project .circle {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  background: var(--fasemoon1);
  backdrop-filter: blur(50px);
  position: relative;
  overflow: hidden;
  transition: transform .5s;
}

.project .circle:hover {
  transform: scale(1.2);
}

/* circle 2 */
.project .circle2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--fasemoon2);
  backdrop-filter: blur(50px);
  position: relative;
  overflow: hidden;
  transition: transform .5s;
}

.project .circle2:hover {
  transform: scale(1.2);
}

/* circle 3 */
.project .circle3 {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  background: var(--fasemoon3);
  backdrop-filter: blur(50px);
  position: relative;
  overflow: hidden;
  transition: transform .5s;
}

.project .circle3:hover {
  transform: scale(1.2);
}

.nav-list--projectsLinks a {
  display: flex;
  align-items: center;
}

.nav-list--projectsLinks span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list--projectsLinks span>a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 70px;
  /* identical to box height */

  letter-spacing: 0.02em;
}

span>a:hover {
  color: var(--purple);
}

.nav-list--projectsLinks span>img {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 70px;
}


/* #########  FOOTER  ######### */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
}

.footer span {
  font-weight: 600;
  margin-left: 3px;
}

.footer-social-medias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  width: 200px;
}

.icons {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  transition: transform .3s;
}

.icons a {
  color: white;
}

.icons:hover {
  transform: scale(1.2);
}